
.gradient {
  background: linear-gradient(269deg, #f96167, #fee66d);
  background-size: 400% 400%;

  animation: AnimationName 12s ease infinite;
}
.img-responsive{
  width: 50%;
  height: 550px;
}
.img-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
