.w-70{
    width: 70%!important;
    margin-left: 14%;
}
.carousel-height{
  height: 550px;
}
.carousel{
  position: relative;
  margin-top: 3%;
}
.mrgn-top{
  margin-top: 3%;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
  justify-content: center;
}
.carousel-indicators .active {
  background-color: #000;
}
.carousel-indicators li{
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgb(0 0 0 / 22%);
}