<html>

<head>
    <link rel="stylesheet" href="../static/css/admin.css">
</head>

<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login" action="/admin" method="post">
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" placeholder="Password" id="password"
                            name="password">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="number" class="login__input" placeholder="Points" name="points">
                    </div>

                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="text" class="login__input" placeholder="Winner Name" name="winner_name">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>

                        <select name="event" id="event" class="login__input">
                            {% for event in events %}
                            <option value="{{ event['event_id'] }}">{{ event['event_name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <select name="position" id="position" class="login__input">
                            <option value="1">1st</option>
                            <option value="2">2nd</option>
                            <option value="3">3rd</option>
                        </select>
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <select name="dept" id="dept" class="login__input">
                            {% for dept in depart %}
                            <option value="{{dept['dept_id']}}">{{dept['dept_name']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="button login__submit">
                        <span class="button__text">Submit Result</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </form>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</body>

</html>