<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>PARICHAY 2022</title>
    <style>
      .parichay-img img{
        object-fit: cover;
        width: 500px;
        height: 550px;
      }
    </style>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/static/images/RNS_logo(b).png" width="70" height="30" class="d-inline-block align-top" alt="logo">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/events">parichay</a>
        <a class="nav-item nav-link" href="#">Cat-Core-Team</a>
      </div>
    </div>
  </nav>

  <div class="prichay-img" style="display: flex;align-items: center;justify-content: center;">
    <img src="/static/images/CoralYellowExport.png" alt="PARICHAY" style="width: 50%;height: 550px;">
  </div>
    <nav style="margin-top: 3%;">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">PreFest Events</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">23/06/22</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">24/06/22</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent" style="margin-bottom:6%;">
        
        <!--prefest-->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Sl No</th>
                    <th scope="col">Events</th>
                    <th scope="col">Time</th>
                    <th scope="col">Venue</th>
                    <th scope="col">Registeration forms</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Tug Of War</td>
                    <td></td>
                    <td>@mdo</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>coming soon...</td>
                  </tr>
                </tbody>
              </table>
        </div>









        <!-- day1 -->
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Sl No</th>
                    <th scope="col">Events</th>
                    <th scope="col">Time</th>
                    <th scope="col">Venue</th>
                    <th scope="col">Registeration forms</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Tug Of War</td>
                    <td>11:00-1:00</td>
                    <td>Cs lawn</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td> Question Battle</td>
                    <td>11:00-12:00</td>
                    <td>Mech Quadrangle</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Andhadun</td>
                    <td>11:00-12:00</td>
                    <td>Stage area</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Competitive Coding</td>
                    <td>11:00-2:00</td>
                    <td>CSE Lab</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Dumbcharades</td>
                    <td>11:00-1:00</td>
                    <td>Mech Classrom 1</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Kannada Quiz</td>
                    <td>11:00-12:00</td>
                    <td>Mech Classroom 2</td>
                    <td>coming soon...</td>
                  </tr>

                  <tr>
                    <th scope="row">7</th>
                    <td>Vocal Light Music</td>
                    <td>12:00-1:00</td>
                    <td>Auditorium</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>Bestfriend Challenge</td>
                    <td>12:00-1:00</td>
                    <td>Mech Quadrangle</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>Hogathon</td>
                    <td>12:00-1:00</td>
                    <td>Stage area</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td>Antyakshari</td>
                    <td>12:00-2:00</td>
                    <td> Mech Classromm2</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">11</th>
                    <td>Classical Vocal</td>
                    <td>1:00-2:00 </td>
                    <td>Auditorium</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">12</th>
                    <td>Anti chess</td>
                    <td>1:00-2:00</td>
                    <td>Mech Quadrangle</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">13</th>
                    <td>Fitness Witness</td>
                    <td>1:00-2:00</td>
                    <td>Stage area</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">14</th>
                    <td>Kannada Prabhanda</td>
                    <td>3:00-4:00</td>
                    <td>Mech Classrom 1</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">15</th>
                    <td>Shark Tank</td>
                    <td>3:00-4:00</td>
                    <td>Auditorium</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">16</th>
                    <td>Cultural Showcase</td>
                    <td>4:00-6:00</td>
                    <td>Auditorium</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">17</th>
                    <td>Walk off</td>
                    <td>6:00-8:00</td>
                    <td>Auditorium</td>
                    <td>coming soon...</td>
                  </tr>
                </tbody>
              </table>
        </div>










        <!-- day2 -->
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Sl No</th>
                      <th scope="col">Events</th>
                      <th scope="col">Time</th>
                      <th scope="col">Venue</th>
                      <th scope="col">Registeration forms</th>
                    </tr>
                  </thead>
                  <tr>
                    <th scope="row">1</th>
                    <td>Instrumental </td>
                    <td>10:00-11:00 </td>
                    <td>Auditorium</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td> Minute to Win </td>
                    <td>10:00-11:00</td>
                    <td>Mech Quadrangle</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Slow Drag</td>
                    <td>10:00-12:00</td>
                    <td>Maggi Station</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>CODM</td>
                    <td>10:00-12:00</td>
                    <td> Admin block seminar hall</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td> Beg Borrow Steal</td>
                    <td>10:00-12:00</td>
                    <td>Mech Classrom 1</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Indian cinema quiz</td>
                    <td>11:00-12:00</td>
                    <td>Auditorium</td>
                    <td>coming soon...</td>
                  </tr>

                  <tr>
                    <th scope="row">7</th>
                    <td>Reels</td>
                    <td>11:00-1:00</td>
                    <td>coming soon...</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>Digital Photography</td>
                    <td>11:00-12:00</td>
                    <td>coming soon...</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>Classical Dance</td>
                    <td>1:00-2:00</td>
                    <td>Auditorium</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td> Dialogue Monoacting </td>
                    <td>1:00-2:00</td>
                    <td>Mech Quadrangle</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">11</th>
                    <td> Make up</td>
                    <td>1:00-2:00</td>
                    <td>Mech Classroom 2</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">12</th>
                    <td> Meme Making</td>
                    <td>1:00-2:00</td>
                    <td>Mech Classroom 1</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">13</th>
                    <td>Solo/Dual Dance</td>
                    <td>2:00-3:00</td>
                    <td>Auditorium</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">14</th>
                    <td>Group Dance</td>
                    <td>3:00-4:00</td>
                    <td>Auditorium</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">15</th>
                    <td> Valorant</td>
                    <td>yet to be decided</td>
                    <td>Online</td>
                    <td>coming soon...</td>
                  </tr>
                  <tr>
                    <th scope="row">16</th>
                    <td>Fifa</td>
                    <td>yet to be decided
                    </td>
                    <td>Online</td>
                    <td>coming soon...</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>


        <!-- Footer -->
    <footer class="bg-dark text-center text-white mrgn-top">
      <!-- Grid container -->
      <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1"  href="#!" role="button"
          ><i class="fa fa-instagram"></i
          ></a>
  
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Text -->
      <section class="mb-4">
          <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
          </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
          <!--Grid row-->
          <div class="row" style="justify-content: center;align-items: center;">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 algn-center">
              <h5 class="text-uppercase">Links</h5>
  
              <ul class="list-unstyled mb-0">
              <li>
                  <a href="/" class="text-white">Home</a>
              </li>
              <li>
                  <a href="/events" class="text-white">Parichay</a>
              </li>
              <li>
                  <a href="#!" class="text-white">Cat-Core-Team</a>
              </li>
              </ul>
          </div>
          <!--Grid column-->
          </div>
          <!--Grid row-->
      </section>
      <!-- Section: Links -->
      </div>
      <!-- Grid container -->
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="/">catrnsit.live</a>
      </div>
      <!-- Copyright -->
  </footer>
  <!-- Footer End-->
      


      <!-- script tags!!! -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>