<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/static/images/favicon-32x32.png">
  <link rel="stylesheet" href="/static/css/prefest.css">
  <title>Events</title>
  <style>
    .parichay-img img {
      object-fit: cover;
      width: 500px;
      height: 550px;
    }
  </style>
</head>

<body class="gradient">

  <!-- navbar -->

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="./events">Cat-Rnsit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="./events">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </nav> -->


  <!-- image -->
  <div class="prichay-img" style="display: flex;align-items: center;justify-content: center;">
    <img src="/static/images/CoralYellowExport.png" alt="PARICHAY" style="width: 40%;">
  </div>


  <div class="merch-content" style="color: white;">
    <!-- <h3>Department Scoreboard Live! <br><br> <a
        style="display:inline-block; padding:20px; text-align: center; margin:auto;"
        href="/score">Check Here 🏆</a>
    </h3>
    <br> -->
    <h3>Details and Rules for each event can be found here in the <br><br><a
        style="display:inline-block; padding:20px; text-align: center; margin:auto;"
        href="https://drive.google.com/file/d/1iwBubXRyj7QShVTRkGweUlI9bXe0a4JQ/view?usp=sharing">Brochure👈</a>
    </h3>
    <br>
    <h3>Register for all Parichay events from <br><br> <a
        style="display:inline-block; padding:20px; text-align: center; margin:auto;"
        href="https://docs.google.com/spreadsheets/d/16hLdevlco0sglg54ZTEdblSZqjZSWLQfp3oduM-sOoY/edit?usp=sharing">Master Sheet👈</a>
    </h3>
    <br>
    <h3>Schedule of all Parichay events <br><br> <a
        style="display:inline-block; padding:20px; text-align: center; margin:auto;"
        href="https://docs.google.com/spreadsheets/d/1B3uNKGxzHqZfrA0OH-GRdmQ_M1Wf-IXF-m4k91-dEbg/edit?usp=sharing">View
        Timeline👈</a>
    </h3>
    <br>

  </div>

  <nav style="margin-top: 3%;display: flex;align-items: center;justify-content: center;">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
        role="tab" aria-controls="nav-home" aria-selected="true" style="color: #fff;">PreFest Events</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
        role="tab" aria-controls="nav-profile" aria-selected="false" style="color: #fff;">23/06/22</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
        role="tab" aria-controls="nav-contact" aria-selected="false" style="color: #fff;">24/06/22</button>
    </div>
  </nav>




  <div class="tab-content" id="nav-tabContent" style="margin-bottom:6%;">


    <!--prefest-->
    <div class="tab-pane fade show active prefestbody" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div id="timeline-content">

        <h1>Pre-Fest Events</h1>
        <ul class="timeline">
          <li class="event" data-date="17th June">
            <h3>Crime Scene Investigation 🕵️</h3>
            <p> 🕟 4:30 - 5:30 PM</p>
            <p> 📌 Basketball Court</p>
            <!-- <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLScehbabNa7QsnMsOhPaCyD88uWKlb_FzOkUSmDW8WSfHFakOw/viewform?usp=sf_link">Register
                    Here 👈</a> -->
          </li>
          <li class="event" data-date="20th June">
            <h3>Hogathon 🧁</h3>
            <p> 🕐 1:00 - 2:00 PM</p>
            <p> 📌 Mech Quadrangle</p>
            <!-- <a href="https://forms.gle/8SsbchoCvB3YsQou9"> Register Now!</a> -->
          </li>

          <li class="event" data-date="21st & 22nd June">
            <h3>Valorant (Online) 🎮</h3>
            <p> 🕐 5PM Onwards</p>
            <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSd2QzsRKDJLbY-5Hr9UcNUIo64fUKc127W_DcyZM0jIdjuKkQ/viewform"> Register Now!</a> -->
          </li>
        </ul>
      </div>
    </div>









    <!-- day1 -->
    <div class="tab-pane fade prefestbody" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div id="timeline-content">
        <h1>Day-1-Fest Events</h1>
        <ul class="timeline">
          {% for event in d1 %}
          <li class="event" data-date="23rd June">
            <h3>{{event['event_name']}}</h3>
            <p> 🕟 {{event['time_begin']}} - {{event['time_end']}}</p>
            <p> 📌 {{event['venue']}}</p>
            <p>
              {% for i in range(event['max_points']) %}
              ⭐
              {% endfor %}
            </p>
            <a href="{{event['google_form_link']}}">Register Now!✨</a>
          </li>
          {% endfor %}

        </ul>
      </div>
    </div>










    <!-- day2 -->
    <div class="tab-pane fade prefestbody" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div id="timeline-content">
        <h1>Day-2-Fest Events</h1>
        <ul class="timeline">
          {% for event in d2 %}
          <li class="event" data-date="24th June">
            <h3>{{event['event_name']}}</h3>
            <p> 🕟 {{event['time_begin']}} - {{event['time_end']}}</p>
            <p> 📌 {{event['venue']}}</p>
            <p>
              {% for i in range(event['max_points']) %}
              ⭐
              {% endfor %}
            </p>
            <a href="{{event['google_form_link']}}">Register Now!✨</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>


  </div>
  <!-- Footer -->
  <footer class="bg-dark text-center text-white mrgn-top">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://instagram.com/cat_rnsit?igshid=YmMyMTA2M2Y="
          role="button"><i class="fa fa-instagram"></i></a>

      </section>
      <!-- Section: Social media -->
      <!-- Section: Links -->
      <!-- <section class="">
              <!--Grid row
              <div class="row" style="justify-content: center;align-items: center;">
              <!--Grid column
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0 algn-center">
                  <h5 class="text-uppercase">Links</h5>
      
                  <ul class="list-unstyled mb-0">
                  <li>
                      <a href="/" class="text-white">Home</a>
                  </li>
                  <li>
                      <a href="/events" class="text-white">Parichay</a>
                  </li>
                  <li>
                      <a href="#!" class="text-white">Cat-Core-Team</a>
                  </li>
                  </ul>
              </div>
              <!--Grid column
              </div>
              <!--Grid row
          </section> -->
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Designed By Technical Team CAT RNSIT
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer End-->



  <!-- script tags!!! -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>