<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Parichay '22 Prefest Registrations</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon-32x32.png">
    <link rel="stylesheet" href="/static/css/prefest.css">

</head>

<body class="gradient">

    <!-- partial:index.partial.html -->
    <div id="timeline-content">
        <img src="/static/images/CoralYellowExport.png" alt="Parichay Logo" style="width: 40%;" />



        <h1>Parichay '22 Merch Available Now! 👕✨</h1>
        <a style="display: inline-block; padding: 20px; font-size:large;"
            href="https://docs.google.com/forms/d/e/1FAIpQLSfJlCv-WRoypklBRk-F3OR4iC3pY4XdIWhZ5X2vurdXAgbhCw/viewform?usp=sf_link">Buy
            Now!!</a>

        <br>
        <br>

        <h1>Fest Events Registration Live!!</h1>
        <a style="display: inline-block; padding: 20px; font-size:large;"
            href="https://docs.google.com/spreadsheets/d/16hLdevlco0sglg54ZTEdblSZqjZSWLQfp3oduM-sOoY/edit?usp=sharing">Register
            Now!!</a>

        <br>
        <br>


        <h1>Pre-Fest Events</h1>
        <!-- <h3>Register Now!</h3> -->

        <ul class="timeline">
            <li class="event" data-date="17th June">
                <h3>Crime Scene Investigation 🕵️</h3>
                <p> 🕟 4:30 - 5:30 PM</p>
                <p> 📌 Basketball Court</p>
                <!-- <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLScehbabNa7QsnMsOhPaCyD88uWKlb_FzOkUSmDW8WSfHFakOw/viewform?usp=sf_link">Register
                    Here 👈</a> -->
            </li>
            <li class="event" data-date="20th June">
                <h3>Hogathon 🧁</h3>
                <p> 🕐 1:00 - 2:00 PM</p>
                <p> 📌 Mech Quadrangle</p>
                <!-- <a href="https://forms.gle/8SsbchoCvB3YsQou9"> Register Now!</a> -->
            </li>
            <li class="event" data-date="21st & 22nd June">
                <h3>Valorant (Online) 🎮</h3>
                <p> 🕐 5PM Onwards</p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSd2QzsRKDJLbY-5Hr9UcNUIo64fUKc127W_DcyZM0jIdjuKkQ/viewform"> Register Now!</a>
            </li>
            <!-- <li class="event" data-date="21st & 22nd June">
                <h3>Valorant (Online) 🎮</h3>
                <p> 🕐 5PM Onwards</p>
                <a> Register Now!</a>
            </li> -->
        </ul>
        <br>
        <br>

        <h3>For more info about upcoming events and points structure, here's the <a style="display:inline-block; padding:20px; text-align: center; margin:auto;"
                href="https://drive.google.com/file/d/1iwBubXRyj7QShVTRkGweUlI9bXe0a4JQ/view?usp=sharing">Brochure👈</a>
            </h3>
        <br>

    </div>
    <!-- partial -->

</body>

</html>
