<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Parichay '22 Prefest Registrations</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon-32x32.png">
    <link rel="stylesheet" href="/static/css/prefest.css">

</head>

<body class="gradient">
    <!-- partial:index.partial.html -->
    <div id="timeline-content">
        <img src="/static/images/CoralYellowExport.png" alt="Parichay Logo" style="width: 40%;" />
        <h1>Pre-Fest Events</h1>
        <h3>Register Now!</h3>

        <ul class="timeline">
            <li class="event" data-date="17th June">
                <h3>Crime Scene Investigation 🕵️</h3>
                <p>4:30 - 5:30 PM</p>
                <p>Basketball Court</p>
                <a
                href="https://docs.google.com/forms/d/e/1FAIpQLScehbabNa7QsnMsOhPaCyD88uWKlb_FzOkUSmDW8WSfHFakOw/viewform?usp=sf_link">Register Here 👈</a>
            </li>
            <li class="event" data-date="Coming Soon">
                <h3>Hogathon 🍉</h3>
                <!-- <p> 1 - 1:30 PM</p> -->
                <a
                    >Stay Tuned 👀</a>
            </li>
            <!-- <li class="event" id="date" data-date="2009">
      <h3>Squareflair was Born</h3>
      <p></p> <p>"We can be all things to Squarespace users!" 📣</p>    
    </li>
    
    <li class="event" data-date="2021">
      
      <h3>Squareflair Today</h3>
      
      <p>"We design and build from scratch!" 📣<p/> <p>When we say <em><strong>100% custom</strong></em> we mean it— and we build all sites on the Squarespace Developer platform.<p/>
<p>Did you know that all of our pixels are hand-forged from the rarest of subpixels grown and harvested in the <em>Nerd Forest</em>? <br>🤜💥🤛</p>
      
      <p><strong>Our success can be measured by lives and brands enhanced by 9+ years of 100% Squarespace-focused service!</strong></p>
      
<p><a href="https://www.squareflair.com">squareflair.com</a></p>
    </li> -->
        </ul>
    </div>
    <!-- partial -->

</body>

</html>