<!DOCTYPE html>
<html>

<head>

	<title>Table</title>
	<link rel="stylesheet" type="text/css" href="../static/css/table.css">

</head>

<body>

<table>

	<tr>

		<th>S.No</th>
        <th>events</th>
		<th>Department Name</th>
		<th>Department Score</th>
		<th>Position</th>
        <th>winner</th>
	</tr>

	<tr>

		<td>1</td>
        <td>event1</td>
		<td>CSE & DS</td>
		<td>0</td>
		<td>1</td>
        <td>CSE</td>

	</tr>

	<tr>

		<td>2</td>
        <td>event2</td>
		<td>ISE</td>
		<td>0</td>
		<td>2</td>
        <td>CSE</td>
	</tr>

	
</table>

</body>


</html>

